@using Recruitment_App.Repo.Entities;
@using System.Text
@model List<JobTitle>

@{
    ViewData["Title"] = "Job Titles";
    ViewData["Controller"] = "JobTitles";
    ViewData["AddNewAction"] = "Add";
}

@await Html.PartialAsync("_PageHeaderWithAdd")

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="col-12">
                    <table id="items_table" class="table dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Job Category</th>
                                <th>Maximum Applications</th>
                                <th>Valid From</th>
                                <th>Valid To</th>
                                <th>Manage</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.Id">
                                            @item.Name
                                        </a>
                                    </td>
                                    <td>@item.JobCategory.JobCategoryName</td>
                                    <td>@item.MaximumApplications</td>
                                    <td>@item.ValidityDurationFrom.ToShortDateString()</td>
                                    <td>@item.ValidityDurationTo.ToShortDateString()</td>
                                    <td>
                                        <button type="button" class="btn btn-xs btn-danger btn-modern" data-bs-toggle="modal" data-bs-target="#myModal" data-id="@item.Id">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Deleting Job Title</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                Proceed with deleting this record?

                <input type="hidden" id="data" value="">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="deleteBtn" onclick="deleteJobTitle()">Yes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>

        </div>
    </div>
</div>
@section scripts
    {
    <script>

        $(document).ready(function () {
            var table = $('#items_table')
                .DataTable({
                    "bServerSide": false,
                    "bProcessing": true,
                    "bSearchable": true,
                    "pageLength": 3,
                    "lengthMenu": [3, 5, 10, 20, 50],
                    "order": [[0, 'asc']],
                    "paging": true,
                    "language": {
                        "emptyTable": "No record found.",
                        "processing":
                            '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">Loading...</span> '
                    }
                });

            $('#status-select').on('change', function () {
                var status = $('#status-select').val();
                table.ajax.url("/Events/GetEventsData?status=" + status).load();
            });

            $('#myModal').on('shown.bs.modal', function (e) {
                var id = $(e.relatedTarget).data('id');
                $('#data').val(id);
            });
        });

        function deleteJobTitle() {
            debugger;
            $.ajax({
                url: '/JobTitles/DeleteJobTitle',
                type: 'GET',
                data: {
                    id: $('#data').val()
                },
                success: function (res) {
                    if (res.success) {
                        location.reload();
                    }
                    else {
                        //todo
                    }
                },
                error: function () {
                    console.log('failed')
                }
            });
        }
    </script>
    }